/* root */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}


@property --start {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

html{
    background-color: var(--dark-space);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%; width:100%;
    font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
  
  padding:0;

    
}
:root {
  box-sizing: border-box;
    /* VARIABLES AND COLORS PALLETES */

/* Color for developing. NOT FINAL */
--dessbug: #553ea8;


--color: #763ebe;
--transition-time: 0.5s;
/* MUYY VEREMOS. VEREMOS. PALETA PROVISORIA PIOLA, RESEARCH UR GREENS  */
    --dark-space: #0f0f1a;
    --dark-white: /* #e2ebff; */ #d3d0c9;


    --dark-green: #204622;
    --dark-neon: #6ed865  ; /* glow and neon effects mostly. i still want this to be sober. */
    --dark-accent: #714ef0; 

    
    --lite-space:   #d3d0c9;
    --lite-green:#42644a; ;
    --lite-shadow: #0f0f1a;
    --lite-accent: #b480f0;  /* irdk about this one REALLY TRY THEM ALL BEFORE */



/* proximity glow card */
    --bg: hsl(246 44% 7%);
    --border: hsl(280 10% 50% / 1);
    --card: hsl(237 36% 10%);
    --color: hsl(240 18% 80%);
    --border-width: 2px;
    --border-radius: 12px;
    --gradient: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #7352b1 72.0000010728836deg,
    #aaf8a7 144.0000021457672deg,
    #5a87e7 216.00000858306885deg,
    #d672a4 288.0000042915344deg,
    hsla(0, 0%, 98%, 1) 1turn
    );






  }
/* end root */

/*===================== CONTAINERS ================================*/
body {
     background-color: var(--dark-space);
     color: var(--dark-white);
     width:100%; overflow-x: hidden;
    /*  border:1px solid #29d44e ; */
     margin: auto;
     /* background pattern? */
     cursor:crosshair;
}

main{
  margin:auto;
}

.depth{
    box-shadow: inset 0px 0px 90px 40px rgb(4, 7, 5);
}

.glass{ /* glass appearance for divs*/
  border: 1px solid #5b774b;
  background: rgba(28, 36, 58, 0.35);
-webkit-backdrop-filter: blur(6px);
backdrop-filter: blur(6px);
-webkit-box-shadow: -6.5px 9.5px 12.5px 1.5px #305c168e;
-moz-box-shadow: -6.5px 9.5px 12.5px 1.5px #305c168e;
box-shadow: 0px 10px 35px 0px #305c168e;

}

.flex{
    display:flex;
    flex-flow: column wrap;
    justify-content: center; align-items: center;
    gap:5px;
}


/* CURSOR   STUFF*/
/* the cursor is custom and has a soft aura light 
    when the cursor goes over something "interesting" (a.k.a interactable)
    it glows in a more intense and saturated color light
    and the thing it goes over should lighten up as well
    we're apparently going for glossy glass blur effect
*/


#cursorglow{  /* canvas element */
  z-index: 10;
     border-radius: 50%;
    top:0; left:0;
    position: absolute;

}

.circle {
    --circle-size: 1rem;
    
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 2px solid var(--dark-accent);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }
  

/* ============AUX BAR ================== */


#aux input[type=checkbox]{ 
  height: 0; width: 0;  /* so you never click the checkbox directly but rather the label */
  visibility:hidden;
}

#aux input[type=checkbox]:checked + label:after{
    transform: scale(5); /* are u the growing circling thing that toggles? */
}


#aux label { 
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;


  color: #000;
  font-size: 2rem; letter-spacing: 0.09rem;
  padding: 1rem;   cursor: pointer;
  border-radius: 0.4rem;
  border: 0.3rem solid #000;
  background: #ffffffc5;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 0 0 #000;

  transition: transform 0.2s ease;
}



#aux label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.2s ease;
  mix-blend-mode: difference;
  background: radial-gradient(circle at center, #fff 24%, #000 25%, #000 100%);
}





#aux label:active {
  top: 0px;
  box-shadow: none;
}









/*===================== NAVIGATION SCREEN ================================*/


.altnav{
  margin:2rem;  width:fit-content; height: fit-content; 
  position: absolute; top: 0;

  background: rgba(0, 0, 0, 0.555);
  color: var(--dark-white);
  display: flex; justify-content: center; align-items: center;
  flex-direction: column ; flex-basis: 1;
 
  top:0; left:0; 
  border: 2px solid rgba(86, 89, 255, 0.486);
  margin:1rem; width:fit-content;


}


.btn {
  color: #fff;
  cursor: pointer;
  font-size:2em; font-weight: 400; padding:0.1em 0.5em;
  position: relative; text-decoration: none; text-transform: uppercase;
  width: 100%; 

  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(202, 241, 186, 0.699); outline-offset: 1px;
  transition: all 1150ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn:hover {
  border: 1px solid ;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(73, 163, 61, 0);
  outline-offset: 15px;
}



nav{ 
    position: absolute; display: flex; justify-content: center; 
    top:0rem; right:0rem; z-index: 10;
    
}
nav [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }


nav [type="checkbox"] + label {  
    position: relative;   top:-25px; right:-25px;  z-index: 15;
    padding:3rem;
    border-bottom-left-radius: 90%;

    display: flex;   align-items: center; justify-content: center;
    
    cursor: pointer;
    box-shadow: rgba(30, 163, 30, 0.603) 0 10px 50px -12px,
    inset 0px -5px 15px 2px #5029da69,
    rgb(0 0 0 / 15%) 0 18px 36px -18px;
    background: rgba(42, 12, 150, 0.336);
    border: 2px solid var(--dark-neon); 

    color: #b9a5ff;
    font-family: BlueScreen; 
    font-weight: 200;  
    font-size:5.5vh; 

    transition: all 0.6s;
}

nav [type="checkbox"] + label:hover {
    background: rgba(28, 18, 65, 0.733); 
    
    padding:5rem;font-size:5.7vh;     top:-25px; right:-25px;
    border-bottom-left-radius: 90%;
    box-shadow: rgba(12, 77, 12, 0.603) 0 10px 30px -6px,
    inset 0px -10px 35px 10px #9669fd93,
    rgb(0 0 0 / 15%) 0 18px 36px -18px;
    color: var(--dark-neon);
   
  }



.menu{
  width:100px; height:100px; 
  position:absolute; right:0; top:0;
}
 
.menu li { /* are you my origin point? */  z-index: 15;
  width:25vw; height:15vw;top:100px;
     margin:0; list-style: none; position: absolute;   
display:flex; flex-flow: row wrap;
     opacity: 0; 
    transition: all 0.7s; 
}  

.menu li:nth-child(1) { 
    transition-delay: 0.3s; 
   
  }
        .menu li:nth-child(2) {
            transition-delay: 0.15s;
            }
                .menu li:nth-child(3) {
                    transition-delay: 0.05s;
                }

.menu li a {
  display: flex; flex-flow: row wrap; 
    box-shadow: inset 0px -50px 20px 0px #03220ab4,
    inset 40px 0px 50px 0px #81e45a60;
    border-left: 3px solid var(--dark-neon);
    padding:1rem 2rem;  border-radius:10%; width:100%; 
    

    
}
.menu li a span {  
    padding:1rem 2rem;  border-radius:10%; 
    opacity:0; font-size: 1.5rem;
    transition: opacity 0.3s; color: var(--dark-neon);    
}
.menu li a i{
  color:#9abb75; font-size: 1.6rem; 
}


nav input:checked + label {
    background: var(--black); /*  */opacity:0.9; /* menu */
    padding:5rem;font-size:5.7vh;     top:-25px; right:-25px;
    border-bottom-left-radius: 90%; color: var(--dark-neon);
  }

  nav input:checked ~ .menu li:nth-child(1) { /* about me */
    opacity:1;
    transform: translateY(200px);
    transition-delay: 0.09s;
  }

nav input:checked ~ .menu li:nth-child(2) { /* projects */
    opacity:1;
    
    transform: translateY(300px);
    transition-delay: 0.2s;
  }
  nav input:checked ~ .menu li:nth-child(3) { /* CONTACT */
   opacity:1; 
   transform: translateY(400px);
    transition-delay: 0.28s;
  }
    
nav input:checked ~ .menu li a span {
    opacity: 0.7;
    transition-delay: 0.4s;
  }
  nav input:checked ~ .menu li a:hover {
    opacity: 1; color:#72e3ff;
    transition-delay: 0.4s;
  }





  /* HEADER */
header{
    margin-top: 30vh; 
    height: 60vh; padding: 0rem 10vw;
    display:flex; 
    justify-content: center; align-items: flex-start;
    flex-direction: column;
     border: 3px solid rgba(248, 248, 248, 0.315); 
   
    gap:1rem;


}

header h1{ 
    font-family: SquareGame;
     font-size: 15vw; 
    color: var(--dark-neon);
    text-shadow: -1px 10px 1px var(--dark-green);
    transition: text-shadow 0.3ms ease-out, letter-spacing 0.8s ease;
    animation: glow 3s ease-in infinite alternate;

 
    letter-spacing: -.10ch;
    line-height: .95;


}

@keyframes glow {
    from {
      text-shadow: 0 0 30px #3b4891, -8px 3px 0px #6576da;
    }
    to {
      text-shadow: 0 0 15px #498801, 6px 3px 1px #7f3fe6;
      
    }
  }

header h1:hover{
    color: var(--dark-neon);
    text-shadow: -5px 4px 10px var(--dark-green);
    cursor:pointer;
    transition:letter-spacing 0.2s ease;

}


                             /*console subtitles  */


.hidden {
    opacity:0;
  }


.subtitle-display{
    color:var(--dark-accent); 

    font-size:3rem; letter-spacing: 2px; 
    text-shadow: 0px 6px 2px rgb(5, 5, 5), -2px 2px 0px rgb(109, 207, 63);
    padding: 0.3rem 2rem; 
    background-color: #151516; 
    box-shadow: 5px 5px 1px 3px #000000;
    width:fit-content;

}

.subtitle-text{
  opacity:0.8; padding-left: 2rem;
    font-family: "BlueScreen", monospace;
}
.subtitle-text{
  content:" >> "

}


/* hover effect for divs.  blur out the edges maybe */

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--dark-accent);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--dark-accent);
  }
}

/*===================== MAIN SCREEN ================================*/

section{
  margin:10%;
}
main{
  background:none;
}

h1{

}



/* ======================PROJECT SECTION========================================= */




.projectsection{ 
  border: 1px solid rgba(68, 0, 255, 0.459); padding:10vh 10vw;
  margin: auto; 
   background: #00000057; border:1px solid white;
   width:90vw;

}

section h1{ 
  font-family: LinearBeam;  font-size:7em; 
  letter-spacing: 0.1ch; color:#41fd509c;
  background: #0000007c; box-shadow: 0px 20px 70px 20px black;
  padding: 0em 2em; align-self: center; margin-bottom:1.5em;
  text-shadow: -10px 10px 0px black;
  animation: glow 6s ease-in infinite alternate;
} 


.wide-container{
      padding: 3em; margin: 10px;
      width:100%; min-height:400px;
      background: #00000057; 
     
}
.splitscreen{
 /*  https://codepen.io/tutsplus/pen/bWKMoK  */
}




.card-container article{   /* each card */

  display: flex; justify-content: center;  
  align-items: flex-start;
  flex-flow: column wrap;  flex-basis:50%;
  border:3px solid rgba(0, 2, 5, 0.507);
  
 
  --active: 0.15; /* ?? */
  --start: 0;

  height: 100%;
  background: var(--card);
  padding: 2rem;
  aspect-ratio: 330 / 400; /* necessary? */
  border-radius: var(--border-radius); 
  gap: 0.25rem;
  position: relative;


}


.glows {
  pointer-events: none; position: absolute;
  inset: 0;
  filter: blur(calc(var(--blur) * 1px));
}

.glows::after,
.glows::before { 
  --alpha: 0;
  content: "";/* 
  background: var(--gradient); */
  background-attachment: fixed;
  position: absolute;
  inset: -5px;
  border: 10px solid transparent;
  border-radius: var(--border-radius);
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - (var(--spread) * 0.5)) * 1deg),
      #000 0deg,
      #fff,
      #0000 calc(var(--spread) * 1deg)
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: var(--active);
  transition: opacity 1s;
}








.card-container {
  display: grid;   width: max-content;
  justify-content: center; align-items: center;
  grid-template-columns: 1fr 1fr 1fr; grid-gap: 4rem;
  padding: 4rem; 
  margin: 0 auto;/*  border: 2px solid blue;  */

}

.card {
  background:#1a1919; height: 20em; width: 15em;
  font-size: 1.5em;
  color: var(--dark-white); border-radius: 25px;
  padding: 30px;
  display: flex;    align-items: flex-start;

  box-shadow: 0 -2em 5em -1em black;
  transition: all, var(--transition-time);

  text-decoration: none;
}

.card:hover {
  transform:scale(1.1); 

  border:1px solid #2e2c85;
  transition: all 0.3s ease;
}

.card h3 {
  margin: 0;
  font-size: 1.7em; font-weight:400;
}

.card p {
  font-size: 0.7em; font-weight:200;
  margin-top: 0.5em;
}




.badge {
  position:absolute; bottom:0;  left:50%; 
  transform: translate(-50%, -50%);
  border: 1px solid rgba(49, 50, 112, 0.664); border-radius: 5px;
  padding: 0.3em 1em; gap: 5px;
  font-size: 0.6em;  font-weight: 600;
  display: flex; align-items: center; 
  
  width:max-content;
  transition: all 0.1s ease-out;
 
}
.badge:hover  {
  border: 1px solid rgba(65, 66, 143, 0.822);
   padding: .5em 1.5em;  gap: 10px;
  color:#dedef7; font-size: 0.8em;

  transition: all 0.6s ease-in-out;
}
.badge .tags {
  display: flex; padding:0;
}

.badge .tags .tag {
  font-size: 0.9em;
  background: rgba(33, 35, 124, 0.5); 
  border-radius: 0.2rem;padding: 0.1em 0.9em;
  margin-left: 0.5em;
  transition: all var(--transition-time);
}
.badge .tags .tag:hover {
  background: rgba(66, 51, 199, 0.685);
  font-size: 1em;
  transition: all var(--transition-time);
}
.badge i{
  padding:0; margin:0; font-size: 1em; color:#adaed6;
}

.card .date {
  position: absolute; top: 0; right: 0;
  font-size: 0.7em;
  padding: 1em;  line-height: 1em;opacity: .7;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .card-container {  grid-template-columns: 1fr 1fr;   }
}
@media screen and (max-width: 900px) {
  .card-container {grid-template-columns: 1fr;  }
}
@media screen and (max-width: 500px) {
  .card-container { padding: 4rem 2rem;  }
  .card {    max-width: calc(100vw - 4rem);  }
}






















/* ABOUT ME */


.about{
  border: 1px solid rgb(162, 0, 255); padding: 1rem 10rem 1rem 10rem;
  border-radius:30px;
  
}




/* CONTACT SECTION */

.contact{

  border: 1px solid rgb(162, 0, 255); padding: 1rem 10rem 1rem 10rem;
  border-radius:30px;
  
}













/* WILL ALSO TAKE MANY LIVES. GET USED TO IT.  */








































/* FOOTER? SECTION */

footer{
  width: 100%; background-color: #000; box-shadow:0px 100px 10px 100px #000;
  min-height: 30vh; padding: 3rem 0rem;





}

















/* About changing theme easily with a night class and :root selector
https://stackoverflow.com/questions/71887531/overwriting-css-root-variables-by-adding-a-class-to-element */
/*   <!-- https://codepen.io/vsync/pen/nOyjVG button switch real cool for theme --> */
             




/* END TESTAMENT =============================================== */
/* 
            Here Lie the final ashes of what will now begin to be.
            The end of the beginning, the cracking of the shell.
            The cry that follows the breathe of new things.







 */