@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@property --start {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

html{
  scroll-behavior: smooth;
    background-color: var(--dark-space);
    font-family: 'FivoSans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    /*AzoftSans, 
    TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
    FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
    */
    font-size:16px;
    height:100%; width:100%;
    font-weight: 300;padding:0;
    text-align:left;
    
}
.bg_texture{
    background-color: #09081d;
background-image: url(./src/shley-tree-1.png);
} 


:root {
  box-sizing: border-box;

/* VARIABLES AND COLORS PALLETES */
/* CHANGE ACCORDING TO WHATS NECESSARY FOR DARK MODE */
--transition-time: 0.5s;

--dark-space:  #0a0b14;                            /* #0f0f1a;  #282937; #171928;  */
--dark-white: #cdd2d4;        
--lite-space:   --dark-white;
--lite-shadow: var(--dark-space);                    /* #e2ebff; */ 


--dark-ink: rgb(0, 1, 51); 
--dark-cyan: #71d5e2;
--dark-green: #4AAA6E;         /*  #1f381e; */
--dark-purple:#5c68c7;

--lite-cyan:#71D1E4;
--lite-green:#60c77f;
--lite-purple: #7779d5;  

--dark-neon: #7d5bd8  ; /* glow and neon effects mostly. i still want this to be sober. */
--dark-accent: #50c545; 


/* HOLA TE ESTOY CAMBIANDO */


}
/* end root */



/*===================== CONTAINERS ================================*/
body {
    background-color: var(--dark-space);
    color: var(--dark-white);
    width:100%; height:fit-content;
     overflow-y: scroll;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    margin: auto;
      display: flex; justify-content: center; flex-flow: column nowrap;
  
}



.flex{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center; align-items: center;
}


/* CURSOR   STUFF*/
#cursorglow{  /* canvas element */
  z-index: 10;
     border-radius: 50%;
    top:0; left:0;
    position: absolute;

}

.circle {
    --circle-size: 1em;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 2px solid var(--dark-cyan);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }
  


  
  

  
  


/*===================== NAVIGATION SCREEN ================================*/
/* Done! :) */

nav{z-index:2; 
  color: var(--dark-white);
  position: fixed;top:0;
  transition: all 0.4s;
 height:100vh; 
}
nav::before{  /* background? */
  content:"";position:absolute;
  height:100%; width:100%;  background:transparent;
  transition: all 0.7s ease-in;
  transform: translateX(-100%);
}
nav:hover::before{
    background-color: #000000c9;   transform: translateX(0%);
  transition: all 0.5s ease-out;
}
nav ul{  z-index:3;
  width:100%; height:100%;
display: flex; flex-direction: column;  gap:1em;
justify-content: center; align-items: center;  
}
nav ul li{
  width:100%;
}
nav ul li a{
  width:9vw;  
  display:flex; flex-direction:column; justify-content:center; align-items: center; 

  padding:0.1em 3.5em;
  font-size:1.4em; font-weight: 300;
  cursor: pointer; 
  border-bottom: 1px solid rgba(109, 223, 243, 0);
  background-image: linear-gradient(to bottom, #1fd8f800, #58deff00);
 
 transition: all 0.4s ease-out;
}
nav ul li a:hover{
  background-color: #070d2700;
  border-bottom: 2px solid rgb(54, 189, 194);
  background-image: linear-gradient(to bottom, #05193700, #00476e10, #007ba02a, #1fa9f838, #4cb7ff5d);
  transition: all 1s ease-out;
}
nav li a .label{
  /*AzoftSans, 
  TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
  FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
  */ 
  font-family:HomeVideo; letter-spacing: 0.25ch; 
  font-size: 1em; 
  transform: translateX(-100%) scale(0.1); opacity: 0; 
 transition: all 0.5s;
 position: relative;
 bottom:5px;
}
nav li a:hover .label{ 
  transform:translateX(0%) scale(1); opacity: 1;
  color: #96eaff;
  transition: all 0.7s;   

}
.icon{
  opacity:0.9; 
  transition: all 0.7s;   
}
.iconpath{
  stroke: #8ae8ff5d;
  transition: all 0.3s;   
}
nav:hover .iconpath{
    stroke: #5acbd8d8;
    transition: all 0.4s;   
}
a:hover .iconpath {
  stroke: #3fa3b1;
  transition: all 0.7s;  
}
a:hover .icon{
  width:80px; height:80px;
}





  
/* ============AUX WRAPPER================== */
 
#aux{
  border: 1px solid white;
  background-color: #0021471e;
  width:100%;
 
 padding:0.4em 1em;
 z-index:9;
 position:absolute; top:0; right:0px; 

 justify-content: center; align-items: center; flex-flow: row nowrap;
 
 gap:1.5rem;
}
#aux > div{ 
  display: flex; flex-flow: column nowrap; align-items: center;
  width:fit-content; 
  border-radius:10px;
  border: 1px solid #fffd96;
}

#aux div i,li#aux div img{
 color: #ade8ff; 
 border: 1px solid var(--dark-cyan);
  height:100%;
}

.auxlabel{  /* span actually */
  font-size:0.8rem;

}
.auxinput{
  color: #ade8ff; 
  border: 1px solid var(--dark-cyan);

}
.flags{
  width: 75px; display: flex;align-items: center;justify-content: space-between;
}
.flags_item{
width: 30px;
}

.flags_icon{
  display: block;
  cursor: pointer;
}















  /*======================== HEADER =============================================*/


header{
    height: 100vh; width:100%;  padding: 5vh 10vw;
    display:flex;  flex-flow:column wrap; 
    justify-content: space-between; align-items: center;

    grid-area: header;
    background-color: #00000049; 
    box-shadow: inset #000000 0px 0px 80px 50px,
    inset black 0px -40px 120px 0px;
}

header .fries{ width:100%;
display: flex; flex-flow: column nowrap; 

}

header .fries h1{ 
  display: inline; line-height: 1; padding-left: 2rem;
  font-family:  TarrgetItalic, sans-serif; 
    letter-spacing:-.01ch;
    font-size: clamp(4rem, 10vw + 1rem, 20rem);
    color: #3dfdfde1;  
    animation: glow 3s ease-in infinite alternate;
    transition: all 0.4s ease-out;

}
header .fries h1:hover{
  letter-spacing:.05ch;
  transition:  all 0.9s ease-out;

}

@keyframes glow {
  from {
    text-shadow: 0 0 25px #8d40d6e8, -8px 3px 0px #7f50ee;
  }
  to {
    text-shadow: 0 0 35px #4f78ff, 6px 3px 1px #4732ff;
  
  }
}

.subtitle-display{
  margin:5px;
  position: relative; top:0%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
  border-bottom: 1px solid aquamarine;
  height: 5.5rem; line-height: 1.2;
  font-family:TripleDot;
  text-align: start; 
  font-size: clamp(0.5rem, 1vh + 1rem, 10rem);
  color:#66daa0; 
  text-shadow:
  3px 0px 5px rgba(50, 255, 43, 0.712),
  1px 0px 3px rgba(172, 255, 47, 0.705),
  0px 5px 15px rgba(4, 131, 0, 0.753);

}

.subtitle-text{
  width:100%;
opacity:0.9;  padding: 2rem; 
margin-bottom:5rem; user-select: none;
}
.subtitle-text::before{
  content:"> "
}
.subtitle-text::after{
  content:"_ ";
  animation: blink 0.7s  infinite ;
}
@keyframes blink{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}


header .burger{
 
  display: flex; flex-flow: column nowrap; justify-content: center;
  padding:1em 3em;  background-color: #021c2941; gap:1rem;
  font-size: clamp( 1rem, 1.1vh + 1rem, 5rem);
  border:2px solid #38809c; 
  box-shadow: inset  #1c47589d 0px 0px 40px 10px,
  #22607941 0px 40px 70px 5px,
  #0d4358 0px 5px 40px 0px
  ;
}

header .burger p{
  color: #ddd;
}


header .burger h3:hover a{
  color:white;
  font-weight: bolder;
}
header .burger h3:hover a{
  color:white;
  font-weight: bolder;
}

/*AzoftSans, 
  TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
  FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
  */


  /* Scroll down button */
  
.btn {
  color: #fff;
  cursor: pointer;
  font-size:2em; font-weight: 400; padding:0.1em 0.5em;
  position: relative; text-decoration: none; text-transform: uppercase;
  width: 100%; 

  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(162, 243, 232, 0.699); outline-offset: 1px;
  transition: all 1150ms cubic-bezier(0.19, 1, 0.22, 1);
} 
.btn:hover {
  box-shadow: inset 0 0 20px rgba(20, 81, 97, 0.5), 0 0 20px rgba(57, 185, 245, 0.363);
  outline-color: rgba(73, 163, 61, 0);
  outline-offset: 35px;
}
  .btn-circle {
    margin:auto;
    width: 70px; color: rgb(179, 255, 251);
    height: 70px;
    border: 2px solid #fff;
    border-radius: 100%; display: flex;
    align-items: center; justify-content: center;
  }
  
  .btn-circle:hover {
    background: rgba(70, 194, 163, 0.288);
    border: 1px solid #00b9a1; color:rgb(182, 253, 241);
    width: 80px; height: 80px;
    transition: all 0.3s ease-in;
  }



.hidden {
    opacity:0;
  }

/*===================== MAIN SCREEN ================================*/
main{
  background:none; margin:0; padding:0;

}
#about{ grid-area: about;}
#projects{ grid-area: projects;}
#contact{ grid-area: contact;}
section, 
p,h1,h2,h3,h4, input, textarea,button{
  animation:fade linear both;
  animation-timeline:view();
  animation-range: entry 10% cover 30%;


}
h3, h6{
  animation: fade both linear;
  animation-duration:1ms;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

@keyframes fade{
  from{ opacity:0;
  } 
  to {
    opacity:1;
  }
}

section{
background-color: #0000008c;
  margin:0;
  border:1px solid rgba(77, 188, 216, 0.733); 
 position: relative; display: grid;place-items: center;align-content:center;
  min-height:100vh;

  box-shadow: 
  rgba(8, 29, 70, 0.37) inset 0px -20px 90px 10px,
  rgba(5, 24, 75, 0.233) inset 0px -80px 180px 50px,
  rgba(6, 18, 41, 0.26) inset 0px -40px 160px 10px;
}

section h1{   z-index: 3;

  font-family: TarrgetItalic;  
 /*AzoftSans, 
  TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
  FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
  */ 
  font-size:4.5em;  height:100%; line-height:1;
  writing-mode: vertical-rl; text-align: center; 
  color:#c3dfff;
  background: #00000070;
  letter-spacing: 0.3ch;
  box-shadow: 0px 20px 70px 20px black,
  inset 0px 05px 10px 0px rgba(17, 17, 29, 0.486);
  user-select: none; right:0; top:0;
  position: absolute; padding:0.7em 0.3em;
  animation: glowtitle 3s ease infinite alternate; 
} 
@keyframes glowtitle {
  from {
    text-shadow: 0 0 10px #6cdaeee8, -8px -5px 0px #1d91a5;
  }
  to {
    text-shadow: 0 5px 0px #348fb3, 8px -2px 2px #7c6ff5;
  }
}

.content{
  width:min(1000px, 80vw);
  position: relative;
  text-align: center;
  background-color: #05060cd2;
  border:3px double rgba(62, 157, 201, 0.644); border-radius: 15PX;
}
.content h2, .content h3{
  animation: textColor 14s ease-out infinite;
}
.content:after {
  position: absolute;
  content: "";
  top: 4vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.9);
  -webkit-filter: blur(7vw);
  -moz-filter: blur(7vw);
  -ms-filter: blur(7vw);
  filter: blur(7vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 14s ease infinite;
}



@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}



/* ======================PROJECT SECTION========================================= */








#projects .content{
 width: max(75%, 600px);
margin:90px;
}
#clb{
  padding:5rem;
  text-align: start;
  min-height:25rem; display: flex; justify-content: space-around; gap:10px; flex-flow: column nowrap;
}





.card-container article{   /* each card */

  display: flex; justify-content: center;  
  align-items: flex-start;
  flex-flow: column wrap;  flex-basis:50%;
  border:3px solid rgba(0, 2, 5, 0.507);
  
 
  --active: 0.15; /* ?? */
  --start: 0;

  height: 100%;
  background: var(--card);
  padding: 2rem;
  aspect-ratio: 330 / 400; /* necessary? */
  border-radius: var(--border-radius); 
  gap: 0.25rem;
  position: relative;


}





.card-container {
  display: flex;  justify-content: center; align-items: center; 
  flex-flow: row wrap; gap:2em;
  border:1px solid #2e2c85; 
  padding:15%; padding-top:20px;
}

.card {position:relative;
  display: flex; justify-content: center;   
  align-items: flex-start; flex-flow: column nowrap;
  padding:4rem; padding-bottom:6rem;
  border:1px solid #161486e8;
  background: linear-gradient(to bottom, transparent,rgba(6, 26, 36, 0.349), rgba(4, 8, 12, 0.705), rgba(0, 0, 0, 0.952));
 box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.644),0px 0px 30px 0px rgba(0, 0, 0, 0.39);

  transition: all 0.4s ease;
}


.card:hover {
  transform:scale(1.05); 
 box-shadow:0px 0px 50px 5px rgba(0, 0, 0, 0.644);
  transition: all 0.4s ease;
}

.card h3 {
  position:relative; top:-20px;
  font-family: Spaceport; 
  

  font-size: 1.7em; font-weight:300; animation:none; font-style: oblique;
  color:#85dfe2d7; text-shadow: 3px 3px 0px #020808d7; 
}

.card img{
  background-color: #000;height:300px; width:800px;
}


@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

  .badge {
    user-select: none;
    position:absolute; bottom:0;  left:50%; 
    transform: translate(-50%, -50%);
    border: 1px solid rgba(67, 58, 190, 0.822); border-radius: 5px;
    padding: .8em 1.8em;  gap: 5px; 
    font-size: 0.9em; font-weight: 600;
    display: flex; align-items: center; 
    width:max-content;
    transition: all 0.1s ease-out;
   
  }
  .badge:hover  {
    border: 1px solid rgba(83, 54, 187, 0.911);
     gap: 10px;
    color:#dedef7;
  
    transition: all 0.6s ease-in-out;
  }
  .badge .tags {
    display: flex; padding:0;
  }
  .badge .tags .tag {
    font-size: 0.9em;
    background: rgba(46, 35, 145, 0.5); 
    border-radius: 0.2rem;padding: 0.3em 1em;
    margin-left: 0.5em;
    transition: all var(--transition-time);
  }
  .badge .tags .tag:hover {
    background: rgba(92, 44, 204, 0.767);
    font-size: 1.1em;
    transition: all var(--transition-time);
  }
  .badge i{
    padding:0; margin:0; font-size: 1em; color:#c3ccff;
  }
  
.card .date {
  position: absolute; top: 0; right: 0;
  font-size: 0.7em;
  padding: 1em;  line-height: 1em;opacity: .7;
}







/* ======================ABOUT SECTION========================================= */

#about .content{
padding: 5%; display: flex;
}

#selfpic{
  border: 1px solid rgb(141, 195, 211); 
  border-left:10px double rgb(69, 188, 204);
  display:flex; 
  float: left; 
}
.aboutleft{
  flex-grow: 4; width:100%; gap:20px;
  justify-content: start; align-items: center;
}
.aboutright{
  flex-grow: 3;  gap:10px;
  justify-content: start; align-items: center;
}



#about ul{
 text-align: start;
 padding-inline-start: 1ch;
  
}
#about ul li{
  display: flex; 
  padding-inline-start: 1ch;
  font-size: 1.2em;
  padding:20px;
}
#utnimg{
  margin: 5px 10px; width:100px; height:100px;
}
#about ul li::before {
  content: '\1F782'; margin-right:10px; 
  /* Styles for Indentation*/
  color: #54cfff;  display: inline-block;
  width: 1em; margin-left: -1em;
}
#about a{
  font-weight:400;   color: #71d5e2; padding: 0px 5px;
}

#cv{
  position: relative; 
  padding:5px 20px; width:fit-content;
  border:1px solid #54ffff93;
  color:#d7ffffbb;
  font-family: Spaceport; font-size: 1.2em;
  background-image: linear-gradient(to bottom,#05193700, #061f441c, #0d96cc27, #0095c250);
 border-radius: 1px;
  transition: all 0.6s ease-in;
}
#cv:hover {
  color:#8bffff;
  background-image: linear-gradient(to bottom,#0519370a, #061f4485, #0d96cc48, #03b2e76c);
  transition: all 1.2s ease-in, box-shadow 0.4s ease;
  box-shadow: 0px 2px 0px 2px #54ffff9d,  0px 5px 15px 0px #54ffff73;
}
#cv:hover .icon{
  width:50px; height:50px;
}

#about h2{
  font-size: 1.8em; font-weight: 500;
  color: #4fdbdbb9; padding: 0px ;
  animation:none; position:absolute; bottom:15%;
}
#about h2 a{padding: 0px ;}


  .sliding-middle-out {
    display: inline-block;
    position: relative;
  }
  .sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .6s ease, background-color .7s ease;
  }
  .sliding-middle-out:hover:after {
    width: 100%;
    background: #7de5ffee;
  }













  

/* ======================CONTACT SECTION=============================== */



#contact *:not(h1){
  --bodyColor: #184068;
  --borderFormEls: hsla(192, 100%, 34%, 0.39);
  --bgFormEls: hsla(180, 76%, 5%, 0.356);
  --bgFormElsFocus: hsla(180, 100%, 71%, 0.144);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  background: var(--dark-space);
  color: var(--dark-white);
  margin: 1.5rem 0;
  font-size: clamp(1.1rem, -1.7rem + 3.75vw, 2.15rem);

}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}



#contact .content{
  display: flex; flex-flow: row nowrap;
  flex: 1 1 auto; 
 }
 
 
 .contactinfo{
   text-align: left;
   background: linear-gradient(to left,#61d2ff81,#61d2ff46, #61d2ff28, #38809c17, #38809c00,transparent);
   padding:10px 50px;border-radius: 15px;
   
   display: flex; justify-content: center; align-items: flex-start;
   flex-flow:column nowrap; gap:20px;
   
   list-style: none;
 }
 .contactinfo li i{
   padding-right:10px;
 }
 .contactinfo li{
   padding:5px;
   font-size:larger;
 }
 .contactinfo h2{
   
   /*AzoftSans, 
   TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
   FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
   */ 
 }
 .socialicons{
   display: flex;flex-flow: row nowrap;  width:fit-content; gap:25px;
 }
 .socialicons a{
   border:1px solid rgba(84, 221, 180, 0.692); font-size:2.5rem;
   line-height: normal;
   margin:0px;  padding:10%; border-radius: 100%; 
   width: 5rem; height:5rem; display: flex; justify-content: center; align-items: center;
   transition:all 0.6s ease-out;
 }
 
 .socialicons a:hover{
   border:1px solid rgba(43, 243, 226, 0.692); 
   background-color: #00000049;
   box-shadow: #01080749 0px 10px 15px 1px;
   transform:scale(1.1) translateY(-5px);
   transition:all 0.4s ease-out;
 
 }
 
 .fa-brands,.fa-envelope-open{
   color: rgba(159, 224, 192, 0.897) !important;
 }
 a:hover .fa-brands {
   color: rgb(220, 245, 215) !important;
 }
 .contactinfo h2{
   animation: none; 
   font-weight:600; font-size: 1.3rem;
 }
 
 
 

 #form{
  width:100%;
  border:1px solid rgba(73, 142, 207, 0);
  border-radius:15px; 
  box-shadow: inset 0px -80px 70px 10px black;
  padding:40px;
  display: flex; justify-content:space-evenly; align-items:center;
  flex-direction: column;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(255, 255, 255);
  -webkit-text-fill-color: var(--dark-white);
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#form h1, #form h4,#form p{
  margin-bottom:0.5rem;
  color:#a9e0ff;
}
/* form elements BASE */
#form select, #form input, #form textarea{
  width:min(800px,70%); line-height: 1.5; padding:15px 5px;
  border: 1px solid var(--borderFormEls);
  color: var(--dark-white); background: var(--bgFormEls);
  padding-left:30px;
  margin:5px;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);

}
/* form elements FOCUSED */
#form input:focus,#form textarea:focus,
#form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
  background: linear-gradient(to right, hsla(192, 100%, 68%, 0.452), hsla(192, 100%, 68%, 0.192),hsla(192, 100%, 68%, 0.055),transparent);
  border: 1px solid hsla(189, 80%, 61%, 0.877);
  color:white;
  transform: scale(1.03);
  transition: all 0.4s ease-in;
  border-radius: 0px; 

}
#form *:required {
  background-image: url(./src/asterisk.svg);
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}
#form .required-msg{
  background:  url(./src/asterisk.svg) 
    no-repeat center left / 15px 15px;
  padding-left: 20px;
  color:var(--dark-white);
}
#form .required-msg::after{
content:'REQUIRED FIELD';
font-size:0.8em;
opacity:0.7;
}
#form button {

  border:1px solid var(--dark-cyan); 
  background-color: #0527355b; 
  color:rgba(196, 253, 255, 0.897); 
  margin:20px;
  padding: 10px 30px;
  width: max(40%, 100px); 
  overflow: hidden;
 font-family: HomeVideo; line-height: 1.2; font-weight:200;
/*AzoftSans, 
   TripleDot, Tarrget, TarrgetItalic, Terminal, HomeVideo, HomeVideoBold,
   FivoSans, Spaceport, Cyberphonic, BlueScreen, BatmanOutline, Elianto,
   */ 
  font-size: 2.5rem; letter-spacing: 0.2ch;
  transition: all 0.6s ease;
}
#form button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 0px var(--dark-cyan), 0px 10px 25px 0px #0b585ebd;
  background-color: #02111888; 
  transition: all 0.3s ease-in;
  
}
#form textarea {
    height: 170px;
}
#form ::placeholder {
    color: inherit;
    /*Fixes opacity issue on Firefox*/
    opacity: 1;
}
/* WILL ALSO TAKE MANY LIVES. GET USED TO IT.  */




@media screen and (min-width: 541px) {
  #form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  #form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}





/*============ FOOTER SECTION =================*/







  /* Back to top Button */

  /* i cant make you appear on scroll with body grid
  because you break everything darling
  so im just gonna scooch you at the bottom
  for now  */
  .top{

    font-family: Spaceport;
    color: #fff; background: #000;
    border-radius: 100%;border:1px solid rgb(127, 255, 217);
    position: absolute;
    display: flex; margin-top:20px;
    text-align: center; align-content: center;

  }
.top label{ 
  width:150px; font-size: 0.5em;
  opacity:0;margin: 0;
  position: absolute;
  top: 50%;  left: 50%;
  -ms-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  transition:all 0.7s ease;
}
.top:hover label{
  color:var(--dark-white);
  opacity:1; 
  -ms-transform: translate(-50%, 210%);
  transform: translate(-50%, 210%);
  transition:all 0.7s ease;
}




footer{
  width: 100%; background-color: #0000008a; 
  
  min-height: 20vh; 
  padding: 1em;
  display: flex; flex-direction: row;
  justify-content: center; align-items: flex-start;

}


footer p{
align-self: flex-end; 
color: rgb(167, 167, 167); 
animation:none;  user-select: none;
}








/*================ MEDIA QUERIES ===============================*/


/* since this is desktop first, 
i should use  */


/* Example of CSS media queries for common breakpoint ranges 
these measures CAN and probably will change according to my breakpoints and web structure
*/





/*XS      Extra Small Screens (Mobile) */
@media only screen and (max-width: 600px) {
  /* CSS rules specific for extra small screens */
  .main{
    width: 100%; /* Adjust layout for full-width on small screens */
    background-color: #ffffff;
  }
 
}

/*S        Small Screens (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /* CSS rules specific for small screens */
  .main {
    width: 80%; /* Adjust layout for smaller container width on tablets */
    background-color: #82d7ff;
  }
  
}


/* L       Large Screens (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* CSS rules specific for large screens */
  .main {
    width: 60%; /* Adjust layout for narrower container width on desktops */
    background-color: #51ff94;
  }
  
}

/*XL        Extra Large Screens (Large Desktops) */
@media only screen and (min-width: 1441px) {
  /* CSS rules specific for extra large screens */
  .main {
    width: 50%; /* Adjust layout for even narrower container width on large desktops */
    background-color: #b951ff;
 
  }
}

/* FOR TOUCH ONLY DEVICES */
@media all and (not(hover)) {
  /* … */
}


/* Can also be used like this>


@media (height > 600px) {
  body {
    line-height: 1.4;
  }
}

@media (400px <= width <= 700px) {
  body {
    line-height: 1.4;
  }
}*/



/* MEDIA QUERIES */
/* @media screen and (max-width: 1285px) {
  .card-container {  grid-template-columns: 1fr 1fr;   }
}
@media screen and (max-width: 900px) {
  .card-container {grid-template-columns: 1fr;  }
}
@media screen and (max-width: 500px) {
  .card-container { padding: 4rem 2rem;  }
  .card {    max-width: calc(100vw - 4rem);  }
}


 */





/* About changing theme easily with a night class and :root selector
https://stackoverflow.com/questions/71887531/overwriting-css-root-variables-by-adding-a-class-to-element */
/*   <!-- https://codepen.io/vsync/pen/nOyjVG button switch real cool for theme --> */
             




/* END TESTAMENT =============================================== */
/* 
            Here Lie the final ashes of what will now begin to be.
            The end of the beginning, the cracking of the shell.
            The cry that follows the breathe of new things.







 */