@font-face {
    font-family: GameOfSquids;
    src: url('GameOfSquids.woff2') format('woff2'),
        url('GameOfSquids.woff') format('woff'),
        url('GameOfSquids.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:BatmanOutline;
    src: url('BatmanForeverOutline.woff2') format('woff2'),
        url('BatmanForeverOutline.woff') format('woff'),
        url('BatmanForeverOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:Batman;
    src: url('BatmanForeverAlternate.woff2') format('woff2'),
        url('BatmanForeverAlternate.woff') format('woff'),
        url('BatmanForeverAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:Hungaria;
    src: url('Hungaria-Regular.woff2') format('woff2'),
        url('Hungaria-Regular.woff') format('woff'),
        url('Hungaria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:Origin;
    src: url('OriginTechDemoRegular.woff2') format('woff2'),
        url('OriginTechDemoRegular.woff') format('woff'),
        url('OriginTechDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:Hungaria;
    src: url('Hungaria-Italic.woff2') format('woff2'),
        url('Hungaria-Italic.woff') format('woff'),
        url('Hungaria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family:SquareGame;
    src: url('SquareGame-Regular.woff2') format('woff2'),
        url('SquareGame-Regular.woff') format('woff'),
        url('SquareGame-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: BlueScreen;
    src: url('BlueScreenPersonalUse-Regular.woff2') format('woff2'),
        url('BlueScreenPersonalUse-Regular.woff') format('woff'),
        url('BlueScreenPersonalUse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Origin;
    src: url('OriginTechDemoRegular_1.woff2') format('woff2'),
        url('OriginTechDemoRegular_1.woff') format('woff'),
        url('OriginTechDemoRegular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:LinearBeam;
    src: url('LinearBeam05.woff2') format('woff2'),
        url('LinearBeam05.woff') format('woff'),
        url('LinearBeam05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

